<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.promotion.dao.PromoMapper">

    <select id="getPromotionList" parameterType="map" resultType="com.sunny.promotion.vo.PromotionVO">
         SELECT promo_id promoId,
			   promo_type promoType,  
			   benefit_code benefitCode,
			   Promotion.user_id userId,
			   Promotion.product_code productCode, 
			   DATE(create_date) createDate,
			   join_cnt joinCnt
       FROM Promotion, User, Product
       WHERE User.user_id = Promotion.user_id
       AND	 Product.product_code = Promotion.product_code
        <if test = "promoId !=null and promoId != ''">
        		 AND promo_id = #{promoId}
        </if>
         <if test = "createDate !=null and createDate != '' and dueDate !=null and dueDate != ''">
        		 AND create_date between #{createDate} and #{dueDate}  
        </if>
        <if test = "promoType !=null and promoType != ''">
        		 AND promo_type = #{promoType}
        </if>
        <if test = "benefitCode !=null and benefitCode != ''">
        		 AND benefit_code = #{benefitCode}
        </if>
        <if test = "state !=null and state != ''">
        		 AND state = #{state}
        </if>
        <if test = "userId !=null and userId != ''">
        		 AND Promotion.user_id = #{userId}
        </if>
         <if test = "userName !=null and userName != ''">
        		 AND User.user_name = #{userName}
        </if>
         <if test = "gender !=null and gender != ''">
        		 AND User.gender = #{gender}
        </if>
        <if test = "ageFrom !=null and ageFrom != '' and ageTo !=null and ageTo != ''">
        		 AND User.age between #{ageFrom} and #{ageTo}
        </if>
         <if test = "productCode !=null and productCode != ''">
        		 AND Promotion.product_code = #{productCode}
        </if>
        <if test = "productName !=null and productName != ''">
        		 AND Product.procudt_name = #{productName}
        </if> 
        <if test = "priceFrom !=null and priceFrom != '' and priceTo !=null and priceTo != ''">
        		 AND Product.price between #{priceFrom} and {priceTo}
        </if>
    
    </select>



    <select id="getBenefit" parameterType="map" resultType="com.sunny.promotion.vo.BenefitVO">
        SELECT goal_cnt, offer, unit 
        FROM BENEFIT
   		WHERE promo_type = #{promo_type}
        AND   benefit_code = #{benefit_code}
    </select>
    
    
    <select id="getMaxPromoId" parameterType="String" resultType="Integer">
    	   SELECT IFNULL(CAST(MAX(SUBSTRING(promo_id,8,3)) AS signed integer)+1 ,0)
       FROM Promotion
   	   WHERE Promo_id like #{insertDate}
    </select>
    
    <update id="UpdatePromotionJoinCnt" >
        UPDATE Promotion
        SET join_cnt = join_cnt + 1
        WHERE Promo_id = #{PromoId}
    </update>
 	
   <insert id="InsertPromotion" parameterType="com.sunny.promotion.vo.PromotionVO">
        INSERT into Promotion
        VALUES
        (#{promoId},#{createDate},#{userId},#{dueDate},'0',#{promoType},#{benefitCode},#{productCode},#{eventUrl},#{bannerPath},0)
   </insert>
   
   
        
   <select id="getPromotionById" parameterType="String" resultType="com.sunny.promotion.vo.PromotionVO">     
        SELECT promo_id promoId,
			   create_date createDate,
			   user_id userId,
			   due_date dueDate, 
			   state state, 
			   promo_type promoType, 
			   benefit_code benefitCode, 
			   product_code productCode, 
			   event_url eventUrl,
			   banner_path bannerPath,
			   join_cnt joinCnt
       FROM Promotion
       WHERE Promo_id = #{promo_id}
    </select>
    
</mapper>
