<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.test.dao.PromoMapper">
    <select id="getBenefit" parameterType="map" resultType="com.sunny.test.vo.BenefitVO">
        SELECT goal_cnt, offer, unit 
        FROM BENEFIT
   		WHERE promo_type = #{promo_type}
        AND   benefit_code = #{benefit_code}
    </select>
    
    
    <select id="getMaxPromoId" parameterType="String" resultType="Integer">
    	   SELECT CAST(MAX(SUBSTRING(promo_id,8,3)) AS signed integer)+1 
       FROM Promotion
   	   WHERE Promo_id like #{insertDate}
    </select>
    
    <insert id="insertTest" >
        insert into TEST VALUES ('test2')
    </insert>
 	
   <insert id="InsertPromotion" parameterType="com.sunny.test.vo.PromotionVO">
        INSERT into Promotion
        VALUES
        (#{promo_id},#{create_date},#{user_id},#{due_date},'0',#{promo_type},#{benefit_code},#{product_code},#{event_url},#{banner_url},0)
   </insert>
    
</mapper>

