<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.promotion.dao.PurchaseMapper">


    <insert id="InsertPurchase" parameterType="com.sunny.promotion.vo.PurchaseVO">
        INSERT into Purchase
        VALUES
        (#{PurchaseId},#{PurchaseDate},#{UserId},#{ProductCode},'0')
   </insert>
    
   <select id="getMaxPurchaseId" parameterType="String" resultType="Integer">
    	   SELECT IFNULL(CAST(MAX(SUBSTRING(purchase_id,8,3)) AS signed integer)+1 ,0)
       FROM Purchase
   	   WHERE purchase_id like #{insertDate}
    </select> 
    
    <select id="getInfoByUseridProductcd" parameterType="map" resultType="Integer">
       SELECT COUNT(user_id) 
       FROM Purchase
       WHERE user_id = #{userId}
       AND product_code = #{productCd}
       AND state  = '0'
    </select> 
    
</mapper>

