<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.test.dao.UserMapper">
    <select id="getUserByIdPwd" parameterType="map" resultType="com.sunny.test.vo.UserVO">
        SELECT user_id, user_name, user_pw, age, gender, point
        FROM USER
   		WHERE user_id = #{user_id}
        AND   user_pw = #{user_pw}
    </select>
    
    
     <select id="getUserById" parameterType="map" resultType="com.sunny.test.vo.UserVO">
        SELECT user_id, user_name, user_pw, age, gender, point
        FROM USER
   		WHERE user_id = #{user_id}
    </select>
    
     <select id="getJoinUsersByPromoId" parameterType="String" resultType="com.sunny.test.vo.UserVO">
        SELECT user_id, user_name, user_pw, age, gender, point
        FROM User JOIN JoinList
        ON user_id = join_user_id
        where Promo_id = #{PromoId}
    </select>
    
    
     	
   <insert id="insertUser" parameterType="com.sunny.test.vo.PromotionVO">
        INSERT USER
        VALUES
        (#{user_id},#{user_pw},#{user_name},#{age},#{gender},0)
   </insert>

    
</mapper>

